
    <div class="container">
        <div class="teclado-virtual">
            <div class="row">
                <div class="col-xs-3" mn-touch tap="append('1')">1</div>
                <div class="col-xs-3" mn-touch tap="append('2')">2</div>
                <div class="col-xs-3" mn-touch tap="append('3')">3</div>
                <div class="col-xs-3 button-yellow" mn-touch tap="backSpace()"><i class="custom-icon custom-icon-backspace custom-icon-2x"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-3" mn-touch tap="append('4')">4</div>
                <div class="col-xs-3" mn-touch tap="append('5')">5</div>
                <div class="col-xs-3" mn-touch tap="append('6')">6</div>
                <div class="col-xs-3 button-red" mn-touch tap="clear()"><i class="fa fa-eraser"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-3" mn-touch tap="append('7')">7</div>
                <div class="col-xs-3" mn-touch tap="append('8')">8</div>
                <div class="col-xs-3" mn-touch tap="append('9')">9</div>
                <div class="col-xs-3 button-green" mn-touch tap="back()"><i class="custom-icon custom-icon-go-back-arrow custom-icon-2x"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-3" mn-touch tap="append('/')">/</div>
                <div class="col-xs-3" mn-touch tap="append('0')">0</div>
                <div class="col-xs-3" mn-touch tap="append('*')">*</div>
                <div class="col-xs-3 button-blue" mn-touch tap="enter()"><i class="glyphicon glyphicon-ok"></i></div>
            </div>
        </div>
    </div>
